body {
  background-image: url("Main.png");
  min-height:100%;
  background-size:cover;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  border-radius: 15px;
}

.Nav02{
  background-image: url("./Components/Presentación/Nav2.png");
  background-size: 180px;
  background-repeat: repeat;
  background-position: center;
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
}
