.custom-title{
    background-color: lavender;
    color: darkviolet;
    font-size: 25px;
    font-family: "Malgun Gothic", sans-serif;

}

.Parrafos{
    background-color: #61dafb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: brown;
    font-size: 20px;
    font-family: "Malgun Gothic", Segoe, Arial, sans-serif;
}

.conteiner{
    display: flex;
    background-color: darkgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}