<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index-cv.css">
    <title>Sobre mí</title>
</head>
<body>

    <div class="conteiner">
        <div class="item">
            <h2 class="custom-title">
                SOBRE MÍ
            </h2>
        </div>
    </div>

        <div class="item">
            <p class="parrafo">
            Mi nombre es Boris Yellnikoff, dibujo desde que tengo conciencia. Crecí en una casa llena repleta de arte.
            Mi madre ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <div class="conteiner">
            <div class="item">
             <p class="parrafo">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
             </p>
            </div>
        </div>


            <div class="item">
                <p class="parrafo">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
</body>
</html>