
.LoginScreen{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    background-color: darkgoldenrod;
}
.fx{
    background-image: url("Nav2.png") ;
}

.Sticker {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 1px solid #0016b0;
}